* {
  padding: 0;
  margin: 0;
}

.body1 {
  background-color: #ff8f8f;
  text-align: center;
}
.white-h {
  color: black;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  /* box-shadow: 0 0 1rem rgba(0,0,0,0.5); */
  font-size: 9vmin;
  color: #56ec11;
  background-color: white;
}

.reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #03ee65;
  color: black;
  border-radius: 1rem;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
  margin-right: 30px;
}

.new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #03ee65;
  color: black;
  border-radius: 1rem;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
}

.msg {
  color: black;
  font-size: 6vmin;
  animation: blink 1.5s linear infinite;
}

.msg-container {
  height: 30vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.hide {
  display: none;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.mode {
  height: 4vmin;
  width: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  background-color: black;
  color: #03ee65;
  border: 2px solid white;
}

.dark-mode {
  height: 4vmin;
  width: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid white;
}

.dark-body {
  background-color: rgb(26, 44, 44);
  text-align: center;
}

.dark-box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  /* box-shadow: 0 0 1rem white(0,0,0,0.5); */
  font-size: 9vmin;
  color: #56ec11;
  background-color: rgba(0, 0, 0, 0.621);
}
.dark-reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0.621);
  color: #03ee65;
  border-radius: 1rem;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
}
.dark-new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0.621);
  color: #03ee65;
  border-radius: 1rem;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
}
.dark-msg {
  color: green;
  font-size: 6vmin;
  animation: blink 1.5s linear infinite;
}
.dark-h {
  color: white;
}


.dark-msg {
    color: white;
    font-size: 6vmin;
    animation: blink 1.5s linear infinite;
  }
  